# Data Pipeline
python-dotenv
requests

# Summarization Models
scikit-learn
networkx
transformers
torch

# Retrieval
sentence-transformers
faiss-cpu
rank-bm25

# Evaluation
textstat
language-tool-python
rouge-score

# Text Processing
nltk

# UI
streamlit
